{% extends "admin/change_form.html" %}

{% block admin_change_form_document_ready %}
{{ block.super }}
{% if original %}
<input type="hidden" id="id_tanggal_berangkat" value="{{ original.tanggal_berangkat|date:'Y-m-d' }}">
<input type="hidden" id="id_tanggal_kembali" value="{{ original.tanggal_kembali|date:'Y-m-d' }}">
<input type="hidden" id="id_tujuan_provinsi" value="{{ original.tujuan_provinsi.id }}">
<input type="hidden" id="id_jenis_transportasi" value="{{ original.jenis_transportasi }}">
<input type="hidden" id="id_jenis_perjalanan" value="{{ original.jenis_perjalanan }}">
<input type="hidden" id="id_tahun_sbm" value="{{ original.tahun_sbm }}">
<input type="hidden" id="id_pegawai" value="{{ original.pegawai.id }}">
{% endif %}
{% endblock %}
